@model PS2._Practica_Semanal_2.Models.Status

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar estatus</h2>

<h3>Deseas eliminar este estatus?</h3>
<div>
    <h4>Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Status</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
