@{
    ViewBag.Title = "About";
}

        <h2>Acerca de</h2>


<div class="jumbotron jumbotron-fluid bg-white"  >
    <div class="container">
        <h1 class="display-4">Best Coffee</h1>
        <p class="lead">Best Coffee es una pagina en la cual puedes hacer tus pedidos de tu
        cafe favorito, contamos con una gran diversidad de cafes para todos los gustos.</p>
        <img src="~/Content/img/cafe.jpg" width="500" alt="Alternate Text" />
    </div>
</div>