
@{
    ViewBag.Title = "Bombon";
}

<h2>Bombon</h2>

<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="~/Content/img/bombon.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Una versión mucho más endulzada del café con leche es la variante conocida café bombón, en el que se sustituye la leche normal por la leche condensada.</p>
        <a href="@Url.Action("Create","Orders")" class="btn btn-outline-dark btn-xl rounded-pill mt-5">Haz tu pedido</a>
    </div>
</div>