
@{
    ViewBag.Title = "CafeAmericanp";
}

<h2>Cafe Americano</h2>

<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="~/Content/img/americano.jpg" alt="Card image cap" height="500">
    <div class="card-body">
        <p class="card-text">El café americano es la mezcla de agua caliente y café procesado en un máquina de Expreso.</p>
        <a href="@Url.Action("Create","Orders")" class="btn btn-outline-dark btn-xl rounded-pill mt-5">Haz tu pedido</a>
    </div>
</div>