
@{
    ViewBag.Title = "CafeconLeche";
}

<h2>Cafe con Leche</h2>

<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="~/Content/img/Cafe con leche.jpg" alt="Card image cap" height="500">
    <div class="card-body">
        <p class="card-text">Consta básicamente de dos ingredientes: café y leche, con una proporción que varía de acuerdo a las costumbres locales, pero ronda la mezcla por partes iguales.</p>
        <a href="@Url.Action("Create","Orders")" class="btn btn-outline-dark btn-xl rounded-pill mt-5">Haz tu pedido</a>
    </div>
</div>