
@{
    ViewBag.Title = "Capuchino";
}

<h2>Capuchino</h2>

<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="~/Content/img/capuchino-de-calabaza.jpg" alt="Card image cap" height="500">
    <div class="card-body">
        <p class="card-text">Preparado con café expreso y leche montada con vapor para otorgarle cremosidad.</p>
        <a href="@Url.Action("Create","Orders")" class="btn btn-outline-dark btn-xl rounded-pill mt-5">Haz tu pedido</a>
    </div>
</div>