@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>


<div class="justify-content-center">
    <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="~/Content/img/contacto.png" alt="Card image cap" width="1" >
        <div class="card-body">
            <h5 class="card-title">Contacto</h5>
            <address>
                Diaz Urias Francisco Javier<br />
                15212354<br />
                <abbr title="Phone"></abbr>
                664-XX-XX-XX-X
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Francisco-BestCoffee-PS2@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Francisco-BestCoffee-PS2@example.com</a>
            </address>
        </div>
    </div>
</div>
