
@{
    ViewBag.Title = "Expresso";
}

<h2>Expresso</h2>

<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="~/Content/img/expresso.jpg" alt="Card image cap" height="500">
    <div class="card-body">
        <p class="card-text">Uno de los tipos de café más básicos y sencillos, únicamente consta de un infusión de café la cual se realiza hirviendo agua en contacto con el grano.</p>
        <a href="@Url.Action("Create","Orders")" class="btn btn-outline-dark btn-xl rounded-pill mt-5">Haz tu pedido</a>
    </div>
</div>