
@{
    ViewBag.Title = "Frappe";
}

<h2>Frappe</h2>

<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="~/Content/img/frappe-de-cafe-y-cajeta566x440.jpg" alt="Card image cap" height="500">
    <div class="card-body">
        <p class="card-text">Una de las pocas variantes cuya conceptualización es directamente como café frío, el frappé se elabora con café instantáneo molido, hielo y crema de leche o nata.</p>
        <a href="@Url.Action("Create","Orders")" class="btn btn-outline-dark btn-xl rounded-pill mt-5">Haz tu pedido</a>
    </div>
</div>