
@{
    ViewBag.Title = "Mocca";
}

<h2>Mocca</h2>

<div class="card" style="width: 50rem;">
    <img class="card-img-top" src="~/Content/img/Mocha.jpg" alt="Card image cap" height="500">
    <div class="card-body">
        <p class="card-text">Se trata de una variante del café con leche en el que además de leche y café se emplea obligatoriamente chocolate o cacao en forma de sirope o polvo.</p>
        <a href="@Url.Action("Create","Orders")" class="btn btn-outline-dark btn-xl rounded-pill mt-5">Haz tu pedido</a>
    </div>
</div>